{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{%static 'images/recipe.png'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Ramy's Tedbira</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
      
    {% endblock content %}
    {% include "footer.html" %}
    
</body>
</html>