{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
      <img class="lg:w-3/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{% static 'images/ingredients.png' %}">
      <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Search for recipes by ingredients.</h1>
        <p class="mb-8 leading-relaxed">All you have to do is to type the ingredients that you have in your stock and we'll simply handle recipes of that contains ingredients. <br>Note: Please leave a space between the ingredients (e: Not double space)</p>
        <form action="" method="post">
            {%csrf_token%}
            <div class="flex w-full justify-center items-end">
            <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                <label for="hero-field" class="leading-7 text-sm text-gray-600">Type your ingredients.</label>
                <input type="text" id="hero-field" name="ingredients" class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-red-200 focus:bg-transparent border border-gray-300 focus:border-red-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Search and Lemme cook</button>
            </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}